<ngx-grid>

  <ngx-temperature
    ngxWidget
    [ngxWidgetHeight]="3"
    [ngxWidgetWidth]="2">
  </ngx-temperature>

  <ngx-electricity
    ngxWidget
    [ngxWidgetHeight]="3"
    [ngxWidgetWidth]="7">
  </ngx-electricity>

  <ngx-rooms ngxWidget ngxWidgetHeight="4" ngxWidgetWidth="8"></ngx-rooms>

  <ngx-contacts ngxWidget ngxWidgetHeight="4" ngxWidgetWidth="3"></ngx-contacts>

  <ngx-solar [chartValue]="72" ngxWidget ngxWidgetHeight="2" ngxWidgetWidth="3"></ngx-solar>

  <ngx-traffic ngxWidget ngxWidgetHeight="2" ngxWidgetWidth="3"></ngx-traffic>

  <ngx-security-cameras ngxWidget ngxWidgetHeight="5" ngxWidgetWidth="5"></ngx-security-cameras>

  <ngx-kitten ngxWidget ngxWidgetHeight="3" ngxWidgetWidth="3"></ngx-kitten>

  <ngx-weather ngxWidget ngxWidgetHeight="3" ngxWidgetWidth="3"></ngx-weather>

</ngx-grid>
