<ngx-grid>

  <ngx-temperature
    ngxWidget
    [ngxWidgetHeight]="11"
    [ngxWidgetWidth]="7">
  </ngx-temperature>

  <ngx-electricity
    ngxWidget
    [ngxWidgetHeight]="11"
    [ngxWidgetWidth]="17">
  </ngx-electricity>

  <!--<ngx-rooms ngxWidget ngxWidgetHeight="4" ngxWidgetWidth="8"></ngx-rooms>-->

  <!--<ngx-contacts ngxWidget ngxWidgetHeight="4" ngxWidgetWidth="3"></ngx-contacts>-->

  <!--<ngx-solar [chartValue]="72" ngxWidget ngxWidgetHeight="2" ngxWidgetWidth="3"></ngx-solar>-->

  <!--<ngx-traffic ngxWidget ngxWidgetHeight="2" ngxWidgetWidth="3"></ngx-traffic>-->

  <!--<ngx-security-cameras ngxWidget ngxWidgetHeight="5" ngxWidgetWidth="5"></ngx-security-cameras>-->

  <!--<ngx-kitten ngxWidget ngxWidgetHeight="3" ngxWidgetWidth="3"></ngx-kitten>-->

  <!--<ngx-weather ngxWidget ngxWidgetHeight="3" ngxWidgetWidth="3"></ngx-weather>-->

</ngx-grid>

<!--<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">-->
<!--</div>-->

<!--<div class="col-xxxl-3 col-xxl-4 col-md-5">-->
<!--</div>-->

<!--<div class="col-xxxl-6 col-xxl-12 col-md-7">-->
<!--</div>-->
<!--</div>-->
